@model CrmMini.Models.ACTIVITY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACTIVITY</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONTACT_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPANY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANY_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OWNER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OWNER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVITY_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVITY_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DURATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANSPORTINCLUDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANSPORTINCLUDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANSFER_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANSFER_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGARDING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGARDING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMEMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMEMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVITY_GROUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVITY_GROUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPOINTED_USER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPOINTED_USER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPENORCLOSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPENORCLOSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COST_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COST_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOURCEACTIVITY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCEACTIVITY_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENT_NO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENT_NO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENT_NO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENT_NO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BASE_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BASE_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACTIVITY_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
