@model CrmMini.Models.PROJECT

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/special/activity.js"></script>
<div class="container-fluid">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PROJECT</h4>
            <hr />
            @Html.ValidationSummary(true)


            <div class="form-group">
                @Html.LabelFor(model => model.NAME, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NAME)
                    @Html.ValidationMessageFor(model => model.NAME)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.COMPANY_CODE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.COMPANY_CODE,
    new SelectList((System.Collections.IEnumerable)ViewData["company"], "COMPANY_CODE", "COMPANY_NAME"), "--Lütfen Seçiniz--")
                    @Html.ValidationMessageFor(model => model.COMPANY_CODE)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CONTACT_CODE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CONTACT_CODE, new[] { new SelectListItem { Text = "", Value = "0" } })
                    @Html.ValidationMessageFor(model => model.CONTACT_CODE)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.DOCUMENT_DATE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOCUMENT_DATE)
                    @Html.ValidationMessageFor(model => model.DOCUMENT_DATE)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.APPOINTED_USER_CODE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.APPOINTED_USER_CODE, new SelectList((System.Collections.IEnumerable)ViewData["user"], "USER_CODE", "USER_NAME", "--"))
                    @Html.ValidationMessageFor(model => model.APPOINTED_USER_CODE)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>